.page {
  background-color: #000;
  font-family: "inter", arial, sans-serif;
  max-width: 880px;
  min-width: 320px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 45px;
  padding-bottom: 60px;
}

@media screen and (max-width: 918px) {
  .page {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
