.popup__main-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 620px) {
  .popup__main-container {
    margin-top: 44px;
  }
}
