.profile__avatar-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.profile__avatar-button:hover:before {
  background-color: rgba(0, 0, 0, .8);
  background-image: url(../../../images/Pen.svg);
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
