.card__like {
  width: 22px;
  height: 19px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.card__like:hover {
  opacity: 50%;
}
